*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.container{
  padding: 0 8vw;
}

.bold{
  font-weight: 600;
}

.d-flex{
  display: flex;
  flex-wrap: wrap;
}

.column{
  flex-direction: column;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

a{
  text-decoration: none;
  color: black;
}

.align-center{
  align-items: center;
}

.space-between{
  justify-content: space-between;
}

.space-evenly{
  justify-content: space-evenly;
}

.list{
  list-style: none;
}

.Nav_list_items{
  padding: 20px 15px;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.Nav_list_items:hover{
  color: green;
  border-bottom: 2px solid green;
}

.header_cart{
  padding: 15px 10px;
  margin-top: 6px;
}

.border{
  border : 1px solid black;
}

.logo{
  width: 40px;
  object-fit: contain;
}

.header_currency{
  padding: 16px 10px;
  font-size: 1.2rem;
  text-align: center;
}

.currency_list{
  font-size: 0.8rem;
  padding: 7px 0;
}

.currency_list:hover{
  background-color: rgba(223, 194, 194, 0.692);
}

.currency_list_position{
  top: 102%;
  left: 0;
  background-color: white;
  box-shadow: 0 0 10px rgba(10, 9, 9, 0.26);
  width: 70px;
  z-index: 100;
}

.background-color-gray{
  background-color: rgba(128, 128, 128, 0.295);
  min-height: calc(100vh - 57px);
}

.category_title_list{
  padding-top: 8vh;
}

.category_title{
  font-size: 0.8rem;
  margin: 0 2px;
  padding: 5px 15px;
  font-weight: 400;
  margin-bottom: 8vh;
  text-transform: uppercase;
  background-color: white;
}

.card{
  padding: 10px;
  background-color: white;
  width: 270px;
  position: relative;
}

.outOfStock{
  top: 0;
  left: 0;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.452);
  justify-content: center;
  font-size: 1.8rem;
  color: rgb(230, 218, 218);
}

.card_img{
  width: 250px;
  height: 280px;
  object-fit: contain;
}

.card_title{
  font-size: 0.9rem;
  color: gray;
}

.price{
  font-weight: 600;
}

.gap{
  gap: 80px 150px;
}

.product_details{
  margin-top: 8vh;
}

.image_sm_thumbnail{
  max-height: 70vh;
  margin-right: 100px;
}

.image_sm_thumbnail > img{
  width: 80px;
  height: 80px;
  margin: 10px;
  object-fit: contain;
}

.image_lg_thumbnail{
  margin-right: 100px;
}

.image_lg_thumbnail > img{
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.product_details_body{
  width: 250px;
}

.product_brand{
  font-size: 1.7rem;
}

.product_name{
  font-size: 1.5rem;
  font-weight: 400;
}

.product_subtitle{
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 5px;
}

.product_size > div {
  margin-right: 5px;
  border: 1px solid black;
  font-size: 0.6rem;
  text-align: center;
  padding: 5px 0;
  width: 40px;
}

.product_color{
  gap: 5px;
}

.product_color > div{
  height: 25px;
  width: 25px;
  border: 1px solid black;
}

.button-primary{
  width: 100%;
  margin: 30px 0;
  padding: 10px 0;
  font-size: 0.8rem;
  color : white;
  background-color: #5ECE7B;
  border: none;
  text-transform: uppercase;
}

.button-primary:hover{
  cursor: pointer;
}

.product_description{
  font-size: 0.8rem;
}

.cart_title{
  font-size: 1.5rem;
  margin: 5vh 0;
  font-weight: 500;
}

.cart_product_card{
 padding: 15px;
}

.card_border{
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);

}

.image_thumbnail > img{
  width: 120px;
  height: 150px;
  object-fit: contain;
}

.image_thumbnail > button{
  position: absolute;
  padding: 0 2px;
  color: white;
  background-color: black;
  font-weight: 600;
}

.btn_next{
  top: 75%;
  left: 60%;
}

.btn_prev{
  top: 75%;
  left: 80%;
}

.product_brand{
  font-size: 1.2rem;
}

.product_name{
  font-size: 1rem;
  font-weight: 400;
}

.cart_item_subtitle{
  font-size: 0.6rem;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 4px;
}

.cart_item_size{
  display: flex;
}

.cart_item_size > div {
  margin-right: 5px;
  border: 1px solid black;
  font-size: 0.6rem;
  text-align: center;
  padding: 5px 0;
  width: 20px;
}

.cart_item_color{
  display: flex;
  gap: 5px;
}

.cart_item_color > div{
  display: flex;
  height: 15px;
  width: 15px;
  border: 1px solid black;
}

.cart_item_cardLeft{
  display: flex;
  gap: 20px;
}

.qty_change{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.qty_change > button {
  height: 25px;
  width: 25px;
}

.category_title,
.header_cart,
.header_currency,
.Nav_list_items,
.product_size > div,
.product_color > div,
.cart_item_size > div, 
.cart_item_color,
.qty_change > button ,
.image_thumbnail > button:hover{
  cursor: pointer;
}

.tax{
  margin-right: 8px;
}

.total{
  margin-right: 28px;
}


.fCalc{
  margin-top: 50px;
  width: 14vw;
}

.cartOverlay{
  top: 105%;
  left: calc(-30vw + 36px);
  background-color: white;
  width: 30vw;
  z-index: 100;
  box-shadow: 0 0 10px rgba(10, 9, 9, 0.26);
  padding: 20px 0;
}

.cartOverlay_padding{
  padding: 15px;
}

.cartOverlay_btn{
  width: 120px;
  height: 40px;
  font-size: 1rem;
  text-transform: uppercase;
}

.cartOverlay_btn:nth-child(2){
  background-color: #5ECE7B;
  color: white;
  border: none;
}

.cartOverlay_btn:nth-child(2):hover{
  cursor: pointer;
}

